# By default, Distutils (the packaging framework, called in setup.py) will include the following files in your release package:
#    README.txt
#    setup.py
#    The .py files needed by the multi-file modules listed in the packages parameter
#    The individual .py files listed in the py_modules parameter 

# See explanation in: http://www.diveintopython3.net/packaging.html

# Use .add_data_files and .add_data_dir methods in a appropriate
# setup.py files to include non-python files such as documentation,
# data, etc files to distribution. Avoid using MANIFEST.in for that.

include MANIFEST.in
include LICENSE
include INSTALL
include README.rst
include KNOWN_BUGS.rst
include THANKS.rst
include TODO.rst
include external_dependencies.rst
include requirements.rst
include Dockerfile
include COPYING
include templates/*
include templates/project_template/*
include templates/project_template/docs/*
include templates/project_template/scripts/*
include templates/project_template/tests/*
include templates/project_template/project_template/*
#recursive-include templates/ *.R *.rst *.py *.ini *.cfg *.sh *txt LICENCE PKG-INFO Dockerfile COPYING *yml *ignore *data *std
#recursive-include templates/project_template/ *.R *.rst *.py *.ini *.cfg *.sh *txt LICENCE PKG-INFO Dockerfile COPYING *yml *ignore *data *std

#recursive-include docs *.html *.css *.png *.gif
#include install.sh

# Exclude:
exclude .dir_bash_history


# Scripts to include that are named explicitly:
#include xxx/xxx/xxx.py

# Others to include:
#include xxx/scripts/__init__.py
#include xxx/scripts/version.py

# Extensions
#include *.pyxbld
#include *.pyx
#include *.h
#include *.cpp
#include *.h
#include *.pxd
#include *.c


